
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 20px 20px rgb(37, 102, 156);
    text-align: center;
    margin-top: 60px;
    border-radius: 12px;
}

.message {
    background-color: rgb(37, 102, 156);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.loggedin-message {
    font-size: 18px;
    margin-top: 20px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn1 {
    background-color: #d9534f;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
    color: white;
}

.btn1:hover {
    background-color: #9c312e;
}

.logout-link {
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.logout-link:hover {
    text-decoration: underline;
}

.chef-contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
    margin-top: 68px;
    margin-bottom:69px ;}
.chef-contenedor h2{
    background-color: rgb(37 110 163);
    display: inline-block;
    padding: 1rem 3rem;
    color: var(--blanco);
    font-size: 4rem;
}
@media(min-width: 768px) {
    .contenido-chef{
        display: flex;
        justify-content: space-between;
    }
   
    
}
.texto-chef, .imagen-chef{
    flex: 0 0 calc(50% - 1rem);
}


.texto-chef h3{
    font-size: 3rem;

}
.texto-chef p{
    font-size: 2rem;
    
}
.imagen-chef img {
    width: 388px;
    margin-left: 0px;
    height: 357px;
}


.pie-pagina {
    margin-top: 72px;
    background-color: rgb(62 103 133);
    padding: 25px;
    width: 1851px;
}
@media(min-width:768px){
    .contenedor-piepagina{
        display: flex;
        justify-content: space-between;
    }
    .imagen-chef img{
        width: 515px;
        margin-left: 68px;
    }

}
.info{
    flex: 0 0 calc(25% - 1rem);
    margin-bottom: 2rem;
}
.info h3, .info p{
    color: var(--blanco);
    text-align: center;
}
.info h3 {
    font-size: 24px;
    color: white;
}
.info p {
    font-size: 17px;
    color: white;
}

.redes-pie{
    text-align: center;
    color: aliceblue;
    cursor: pointer;
}
a{
color: #fff;
}
.info input[type="email"] {
    font-family: var(--parrafos);
    display: inline-block;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 13px;
    outline: none;
    width: 380px;
    border: none;
}
.info input[type="submit"] {
    padding: 0.5rem 2rem;
    font-size: 18px;
    border-radius: 10px;
}
.footer{
    text-align: center;
    background-color: rgb(19 36 49);
    color: white;
    padding: 2rem;
    font-size: 18px;
}


